<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE 儲集框架_實績案例</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page08.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE 儲集框架_實績案例" />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/caseimg_01.JPG" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-11422925387');
  </script>
</head>
<body class="bg-light">
  <my-header></my-header>
<section id="rainsave_page08_case">
  <div class="container">
    <h1 class="title">Rain SAVE 實績案例</h1>
    <div class="wholecontent">
      
      <h5 class="title_m">滲透型</h5>
      <div class="row">
        <div class="col-md-6 mt-5">
          <div class="">
            <button class="modal-video-btn border-0" data-src="" type="button" data-target="#infilV" onclick="openYTModal('#infilV','lfrw9cdM9Ng')">
              <div class="position-relative">
                <picture>
                  <source srcset="/images/page08/infil_video_thumbnail.avif" type="image/avif" />
                  <img class="w-100" src="/images/page08/infil_video_thumbnail.png" alt="雨水積磚 滲透型">
                </picture>
                <img class="video_play_btn position-absolute top-50 start-50 translate-middle" src="/images/play_btn.png" alt="play button">
              </div>
            </button>
          </div>
  
          <div class="modal fade" id="infilV" tabindex="-1" role="dialog" aria-labelledby="infilVL" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="infilVL">雨水積磚 滲透型</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="stopYT('#infilV', 'lfrw9cdM9Ng')">
                  </button>
                </div>
                <div class="modal-body">
                  <div class="ratio ratio-16x9 modal-yt-container"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="stopYT('#infilV', 'lfrw9cdM9Ng')">關閉</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mt-5">
          <div class="">
            <button class="modal-video-btn border-0" data-src="" type="button" data-target="#rixinV" onclick="openYTModal('#rixinV','nKbi2DxWpVM')">
              <div class="position-relative">
                <picture>
                  <source srcset="/images/page08/rixin_video_thumbnail.avif" type="image/avif" />
                  <img class="w-100" src="/images/page08/rixin_video_thumbnail.png" alt="滲透型案例 - 日新國中">
                </picture>
                <img class="video_play_btn position-absolute top-50 start-50 translate-middle" src="/images/play_btn.png" alt="play button">
              </div>
            </button>
          </div>
  
          <div class="modal fade" id="rixinV" tabindex="-1" role="dialog" aria-labelledby="rixinVL" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h5 class="modal-title" id="rixinVL">滲透型案例 - 日新國中</h5>
                  <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="stopYT('#rixinV', 'nKbi2DxWpVM')">
                  </button>
                </div>
                <div class="modal-body">
                  <div class="ratio ratio-16x9 modal-yt-container"></div>
                </div>
                <div class="modal-footer">
                  <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="stopYT('#rixinV', 'nKbi2DxWpVM')">關閉</button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <h5 class="title_m mt-5">滲透型案例</h5>
      <div class="row">
        <div class="col-md-6 p-2" v-for="item in infilcases">
          <div class="row m-1">
            <div class="col-sm-6">
              <div class="pic_cut">
                <picture>
                  <source v-bind:srcset="item.picture_avif_src" type="image/avif">
                  <img class="case_1" v-bind:src="item.picture_src" alt=""/>
                </picture>
              </div>
            </div>
            <div class="col-sm-6">
              <h5 class="title_m">{{ item.title }}</h5>
              <p class="intro">{{ item.intro }}</p>  
              <a class="btn btn-outline-primary border-2" v-bind:href="item.case_href">閱讀更多&nbsp;<i class="fas fa-arrow-alt-circle-right"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 class="title_m mt-5">儲水型</h5>
    <div class="row">
      <div class="col-md-6 mt-5">
        <div class="">
          <button class="border-0 modal-video-btn" data-src="" type="button" data-target="#saveV" onclick="openYTModal('#saveV','dMRL8sOhXDc')">
            <div class="position-relative">
              <picture>
                <source srcset="/images/page08/save_video_thumbnail.avif" type="image/avif" />
                <img class="w-100" src="/images/page08/save_video_thumbnail.png" alt="雨水積磚 儲水型">
              </picture>
              <img class="video_play_btn position-absolute top-50 start-50 translate-middle" src="/images/play_btn.png" alt="play button">
            </div>
          </button>
        </div>

        <div class="modal fade" id="saveV" tabindex="-1" role="dialog" aria-labelledby="saveVL" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="saveVL">雨水積磚 儲水型</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="stopYT('#saveV', 'dMRL8sOhXDc')">
                </button>
              </div>
              <div class="modal-body">
                <div class="ratio ratio-16x9 modal-yt-container"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="stopYT('#saveV', 'dMRL8sOhXDc')">關閉</button>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 mt-5">
        <div class="">
          <button class="border-0 modal-video-btn" data-src="" type="button" data-target="#maoluoV" onclick="openYTModal('#maoluoV','q2__i7ub34g')">
            <div class="position-relative">
              <picture>
                <source srcset="/images/page08/maoluo_video_thumbnail.avif" type="image/avif" />
                <img class="w-100" src="/images/page08/maoluo_video_thumbnail.png" alt="滲透型案例 - 日新國中">
              </picture>
              <img class="video_play_btn position-absolute top-50 start-50 translate-middle" src="/images/play_btn.png" alt="play button">
            </div>
          </button>
        </div>

        <div class="modal fade" id="maoluoV" tabindex="-1" role="dialog" aria-labelledby="maoluoVL" aria-hidden="true">
          <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h5 class="modal-title" id="maoluoVL">儲水型案例 - 貓羅溪</h5>
                <button type="button" class="btn-close" data-dismiss="modal" aria-label="Close" onclick="stopYT('#maoluoV', 'q2__i7ub34g')">
                </button>
              </div>
              <div class="modal-body">
                <div class="ratio ratio-16x9 modal-yt-container"></div>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-outline-primary" data-dismiss="modal" onclick="stopYT('#maoluoV', 'q2__i7ub34g')">關閉</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <h5 class="title_m mt-5">儲水型案例</h5>
    <div class="row">
      <div class="col-md-6 p-2" v-for="item in savecases">
        <div class="row m-1">
          <div class="col-sm-6">
            <div class="pic_cut">
              <picture>
                <source v-bind:srcset="item.picture_avif_src" type="image/avif">
                <img class="case_1" v-bind:src="item.picture_src" alt=""/>
              </picture>
            </div>
          </div>
          <div class="col-sm-6">
            <h5 class="title_m">{{ item.title }}</h5>
            <p class="intro">{{ item.intro }}</p>
            <a class="btn btn-outline-primary border-2" v-bind:href="item.case_href">閱讀更多&nbsp;<i class="fas fa-arrow-alt-circle-right"></i></a>
          </div>
        </div>
      </div>
      <div class="row space_blank"> </div>
    </div>
  </div>
</section>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
