<!DOCTYPE html>
<html lang="zh-Hant-TW">
    <head>
        <!-- Google tag (gtag.js) --> 
        <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
        <script>
          window.dataLayer = window.dataLayer || [];   
          function gtag(){dataLayer.push(arguments);}   
          gtag('js', new Date());   
          gtag('config', 'G-KDL2Z0JYQR');
        </script>
      
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Rain SAVE 儲集框架_實績案例</title>
        <link rel="icon" href="/images/rainsave_bookmark.png">
        <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
        <meta name="author" content="Rain Master">
        <meta property="og:url"   content="https://rainsave.com.tw/pages/page08.html" />
        <meta property="og:type"  content="website" />
        <meta property="og:title" content="Rain SAVE 儲集框架_實績案例" />
        <meta property="og:image" content="https://rainsave.com.tw/images/homepage/caseimg_01.JPG" />
        <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
        <link rel='stylesheet' href='../style/custom.min.css'>
        <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
        <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
        <link rel="stylesheet" href="../style/style.css">
        <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
      
        <!-- Google tag (gtag.js) -->
        <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
        <script>
          window.dataLayer = window.dataLayer || [];
          function gtag(){dataLayer.push(arguments);}
          gtag('js', new Date());
      
          gtag('config', 'AW-11422925387');
        </script>
      </head>
<body class="bg-light">
    <my-header></my-header>
    <div class="container-fluid">
        <img class="img-fluid" src="../images/rainsave_tube/rainsave_tube_main.png" alt="rainsave tube intro">
    </div>

    <div class="container">
        <div class="row mt-5 justify-content-center">
            <div class="col-3 col-sm-2 mb-5 mb-sm-0">
              <img class="img-fluid" src="../images/rainsave_tube/logo.png" alt="正在旺logo">
            </div>
            <div class="col-12 col-sm-8 d-flex flex-column align-items-start">
              <p class="mb-auto fw-bolder h2">影音頻道 Rain Save Tube</p>
              <p class="fs-5 mb-0">雨水積磚、儲集框架、儲水型積磚、保水型框架</p>
              <a class="fs-5 text-reset text-decoration-none" href="http://www.rainsave.com.tw">www.rainsave.com.tw</a>
            </div>
        </div>

        <div class="row my-sm-5 py-md-5">
            <div class="mb-5 mb-md-0 col-12 col-md-2 d-flex justify-content-evenly justify-content-md-between flex-row flex-md-column flex-wrap">
              <a class="btn btn-lg rs-tube-btn fs-5" href="#aseVideo" role="button">案例分享</a>
              <a class="btn btn-lg rs-tube-btn fs-5 mt-1" href="#timelapseVideo" role="button">縮時攝影</a>
              <a class="btn btn-lg rs-tube-btn fs-5 mt-1" href="#relatedVideo" role="button">相關影音</a>
              <a class="btn btn-lg rs-tube-btn fs-5 mt-1" href="#productVideo" role="button">產品說明</a>
              <a class="btn btn-lg rs-tube-btn fs-5 mt-1" href="#installationVideo" role="button">安裝方式</a>
              <a class="btn btn-lg rs-tube-btn fs-5 mt-1" href="#implementVideo" role="button">關於施工</a>
              <a class="btn btn-lg rs-tube-btn fs-5 mt-1" href="#warningVideo" role="button">注意事項</a>
            </div>
            <div class="col-12 col-md-10">
              <p class="h3 fw-bold">&#9654;  最新上架</p>
              <div class="row align-items-center">
                <div class="col-12 col-md-6">
                  <img class="img-fluid" src="../images/rainsave_tube/new-video-thumbnail.png" alt="雨水積磚施工要點">
                </div>
                <div class="col-12 col-md-6">
                  <p class="fs-4 fw-bold">雨水積磚施工流程影片</p>
                  <p class="fs-5">
                    <span class="fw-bold">施工前的注意事項： </span>
                    <ol>
                      <li>在槽體挖掘時必須將坑挖大一點不要因為覺得土方會出來太多的關係挖的太剛好，根據長期經驗挖太剛好的最後都會變成挖不夠。</li>
                      <li>挖方完成後請認真的把整平作業做好，在施做滲透型積磚時請以粗砂或細碎石整平，施做儲水型積磚在混凝土灌漿後必需以人工抹平或以電動整平尺整平。</li>
                    </ol>
                  </p>
                  <p class="fs-5">
                    <span class="fw-bold">施工後的注意事項： </span>
                    <ol>
                      <li>施作完成後須分層回填，每回填50cm時以夯實機分層震動夯實。</li>
                      <li>如果在未回填前下雨，周圍需挖導溝並點井放置抽水馬達。</li>
                    </ol>
                  </p>
                </div>
              </div>
            </div>
        </div>

        <div id="app" class="container">
            <div v-for="section in sections" :key="section.id" class="my-5 py-5">
              <!-- Section Title -->
              <div class="row mb-4">
                <div class="col">
                  <p class="h3 fw-bold d-inline-block">&#9654; {{ section.title1 }} &nbsp;&nbsp;&nbsp;</p>
                  <div class="d-inline-block align-middle">
                    <p class="fs-4">&lt;{{ section.title2 }}&gt;</p>
                  </div>
                </div>
              </div>
          
              <!-- Carousel -->
              <div :id="section.id" class="carousel slide" data-bs-ride="true">
                <div class="carousel-inner">
                  <div
                    v-for="(group, groupIndex) in groupVideos(section.videos, 4)"
                    :key="`${section.id}-group-${groupIndex}`"
                    :class="['carousel-item', { active: groupIndex === 0 }]"
                  >
                    <div class="row">
                      <div
                        v-for="(video, videoIndex) in group"
                        :key="`${section.id}-video-${videoIndex}`"
                        class="col-6 col-sm-3 c-item"
                        @click="openVideoModal(video)"
                        data-bs-toggle="modal"
                        data-bs-target="#videoModal"
                      >
                        <img class="img-fluid rounded" :src="video.video_src" alt="">
                        <p class="fs-6 my-3 fw-bold">{{ video.video_title }}</p>
                        <p class="fs-6 my-0">
                          雨水積磚 rainsave tube <i class="bi bi-check-circle-fill text-success"></i>
                        </p>
                        <p class="fs-6 my-0">觀看次數：1020次</p>
                      </div>
                    </div>
                  </div>
                </div>
          
                <!-- Carousel Controls -->
                <button
                  class="carousel-control-prev"
                  type="button"
                  :data-bs-target="'#' + section.id"
                  data-bs-slide="prev"
                >
                  <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Previous</span>
                </button>
                <button
                  class="carousel-control-next"
                  type="button"
                  :data-bs-target="'#' + section.id"
                  data-bs-slide="next"
                >
                  <span class="carousel-control-next-icon" aria-hidden="true"></span>
                  <span class="visually-hidden">Next</span>
                </button>
              </div>
            </div>
          
            <!-- Modal -->
            <div
              class="modal fade"
              id="videoModal"
              tabindex="-1"
              aria-labelledby="videoModalLabel"
              aria-hidden="true"
              @hidden="clearModalVideo"
            >
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="videoModalLabel">{{ modalVideo.video_title }}</h5>
                    <button
                      type="button"
                      class="btn-close"
                      data-bs-dismiss="modal"
                      aria-label="Close"
                    ></button>
                  </div>
                  <div class="modal-body text-center">
                    <iframe
                      v-if="modalVideo.video_url"
                      :src="modalVideo.video_url"
                      class="w-100"
                      style="height: 400px;"
                      frameborder="0"
                      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                      allowfullscreen
                    ></iframe>
                    <p v-else class="text-muted">No video available</p>
                  </div>
                  <div class="modal-footer">
                    <button 
                      type="button" 
                      class="btn btn-outline-primary" 
                      data-bs-dismiss="modal"
                      aria-label="Close" 
                      onclick=""
                    >關閉</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
          

    </div>

    <my-footer></my-footer>
  <!-- partial -->
  <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
  <script src="/script2.js"></script>
  <script src="/script.js"></script>


  
</body>
</html>