<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE雨水積磚如何響應SDGs永續發展目標？</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article15_SDGs.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE雨水積磚如何響應SDGs永續發展目標？" />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">Rain SAVE雨水積磚如何響應SDGs永續發展目標？</h1>
            <div class="row">
              <p class="text">
                聯合國於2015年宣布了「2030永續發展目標」，旨在到2030年解決貧困、不平等、環境變
                遷等全球挑戰。其中包含17項核心目標，Rain SAVE雨水積磚成功響應了哪些呢？
              </p>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">SDGs永續發展目標</h4>
                <p class="text">
                  隨著都市化的迅速發展，城市裡的建築物、道路和其他基礎設施吸收和儲存大量熱量，加上植
                  被面積減少，導致城市的氣溫明顯高於周圍的鄉村地區，持續下去不僅影響氣候、增加能源的
                  消耗，還會對居民的健康造成潛在風險。
                </p>
                <div class="text mx-sm-5">
                  <div class="row">
                    <div class="col-3 text-primary fw-bold border-end border-3 border-primary">
                      SDG 3 <br>
                      健康與福祉
                    </div>
                    <div class="col-9">
                      減少洪水風險、改善空氣質量，有助於提升城市的綠化面積，改善
                      城市環境健康，增強公共空間的健康與福祉。
                    </div>
                  </div>
                </div>

                <div class="text mx-sm-5 mt-3">
                  <div class="row">
                    <div class="col-3 text-primary fw-bold border-end border-3 border-primary">
                      SDG 6 <br>
                      淨水及衛生
                    </div>
                    <div class="col-9">
                      有效管理水資源，減少地表徑流，讓雨水能夠滲透至地下，自然過濾水中污染物，降低水質受污染的風險。
                    </div>
                  </div>
                </div>

                <div class="text mx-sm-5 mt-3">
                  <div class="row">
                    <div class="col-3 text-primary fw-bold border-end border-3 border-primary">
                      SDG 9 <br>
                      工業化、創新及基礎設
                    </div>
                    <div class="col-9">
                      為建築和城市規劃領域提供了創新的方案，解決傳統排水系統所面臨的排水不良問題，並促進綠色基礎設施的發展，使其更加環保和高效。
                    </div>
                  </div>
                </div>

                <div class="text mx-sm-5 mt-3">
                  <div class="row">
                    <div class="col-3 text-primary fw-bold border-end border-3 border-primary">
                      SDG 11 <br>
                      永續城鄉
                    </div>
                    <div class="col-9">
                      改善城市排水系統，降低洪水風險，提高城市的抗災能力，並提升公共空間的綠化與生態，增強社區的可持續性與韌性。
                    </div>
                  </div>
                </div>

                <div class="text mx-sm-5 mt-3">
                  <div class="row">
                    <div class="col-3 text-primary fw-bold border-end border-3 border-primary">
                      SDG 13 <br>
                      氣候行動
                    </div>
                    <div class="col-9">
                      有助於降低熱量積累，減緩城市熱島效應，並減少碳排放，推動城市建設向低碳可持續的方向發展。
                    </div>
                  </div>
                </div>

                <div class="text mx-sm-5 mt-3">
                  <div class="row">
                    <div class="col-3 text-primary fw-bold border-end border-3 border-primary">
                      SDG 15 <br>
                      保育陸域生態
                    </div>
                    <div class="col-9">
                      保持土壤水分，幫助恢復和保護土地生態，增長城市中的綠地面積，為多樣的植物和動物提供棲息地，維持生物多樣性。
                    </div>
                  </div>
                </div>
              </div>
            </div>

            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article14_urban_heat_island.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/#">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 14" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
