<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE儲集框架如何維護？儲集框架的管理方式 </title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE儲集框架如何維護？儲集框架的管理方式 " />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">Rain SAVE儲集框架如何維護？儲集框架的管理方式</h1>
            <div class="row">
              <p class="text">為維持Rain SAVE儲集框架滲透功能，需定期進行設施的維護管理，大致分為巡檢及維護兩大項目，若無定期維護可能導致設施內砂土或沉積物堵塞，無法正常運作。 </p>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">巡檢</h4>
                <ul class="text" start="1">
                  <li class="fw-bold">
                    <span>定期巡察：</span>
                    <p class="fw-normal">
                      每隔3個月、6個月或1年等進行定期巡察，並考量雨季等季節性因素，檢查功能是否正常運行、設施是否存在安全疑慮或變形情況。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>臨時檢查：</span>
                    <p class="fw-normal">
                      依據氣象資料等預測可能大雨時，事前進行臨時檢查確認設施功能無異。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>地震後檢查：</span>
                    <p class="fw-normal">
                      若發生四級以上地震，立即實施檢查。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>詳細調查：</span>
                    <p class="fw-normal">
                      對巡檢中發現的異常狀況進行詳細調查，根據調查結果進行評估並採取必要的改善措施。 
                    </p>
                  </li>
                </ul>
                <h4 class="title_m_3">維護</h4>
                <ul class="text" start="1">
                  <li class="fw-bold">
                    <span>清淤：</span>
                    <p class="fw-normal">
                      主要目的是清除沉積的砂土、垃圾、落葉和樹根等物質，同時清掃周邊，以防止入流水中的有機物腐敗產生惡臭和有毒氣體，確保儲集容量及滲透功能。為方便清理儲集框架，會設立檢視井讓維護人員可檢查槽體內部並進行清淤。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>修補：</span>
                    <p class="fw-normal">
                      為確保槽體安全性及功能性，如有損壞需即時進行修補或在適當觀察後再進行修補，若無法修補則必須進行更換或重新安裝設施。 
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article10_rainsave_things_to_consider.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article12_rainsave_dredging.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 10" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
