<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE儲集框架是什麼材質？使用這個材質的原因？ </title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE儲集框架是什麼材質？使用這個材質的原因？ " />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">Rain SAVE儲集框架是什麼材質？使用這個材質的原因？</h1>
            <div class="row">
              <p class="text">Rain SAVE儲集框架使用的材質為聚丙烯（Polypropylene，簡稱PP），是一種輕質而堅固的材料，其特性多樣且對環境相當友好，讓我們看看PP聚丙烯材質具有哪些優點。</p>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">使用PP聚丙烯材質的優點</h4>
                <ul class="text" start="2">
                  <li class="fw-bold">
                    <span>輕便性：</span>
                    <p class="fw-normal">
                        聚丙烯材質輕巧，讓安裝和運輸的過程更加方便快速。相對於其他材料，輕量化設計減輕了安裝人員的勞動強度，並且能夠更容易地進行現場擺放和調整。
                    </p>
                  </li>
                  <li class="fw-bold"> 
                    <span>高強度：</span>
                    <p class="fw-normal">
                        聚丙烯具有高強度的物理特性，讓儲集框架不易受損，能夠長期承受車輛和行人的壓力而不變形或損壞，延長使用壽命，減少了維修和更換的需求。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>耐腐蝕：</span>
                    <p class="fw-normal">
                        聚丙烯出色的耐腐蝕性讓儲集框架可以在各種環境下長期穩定地工作。不論是面對潮濕、酸性或鹼性的環境，聚丙烯都能夠抵禦化學品和溶劑的侵蝕，保持其穩定性和性能不受影響。 
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>環保可持續：</span>
                    <p class="fw-normal">
                        聚丙烯作為一種可回收利用的材料，在製造過程中產生的廢棄物較少，有助於降低廢棄物對環境造成的負面影響，同時也提高了城市排水系統的可持續性。 
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>易於加工：</span>
                    <p class="fw-normal">
                        聚丙烯具有良好的加工性能，並且能夠與其他材料良好地結合使用，讓儲集框架的設計和生產更加靈活多樣化，能夠滿足不同場景和需求的使用要求。 
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>成本效益：</span>
                    <p class="fw-normal">
                        相對於其他材料，聚丙烯材質的儲集框架具有較低的製造和運輸成本。不僅能夠提供良好的性能和耐用性，還能夠在經濟方面帶來實際的效益和節省。
                    </p>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article08_rainsave_suitable_places.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article09_rainsave_material.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 8" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
