<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>安裝Rain SAVE儲集框架前需要考量什麼呢？儲集框架的設計注意事項</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="安裝Rain SAVE儲集框架前需要考量什麼呢？儲集框架的設計注意事項 " />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">安裝Rain SAVE儲集框架前需要考量什麼呢？儲集框架的設計注意事項 </h1>
            <div class="row">
              <p class="text">在進行Rain SAVE儲集框架的安裝之前， 需要考量合適的配置位置、足夠的空間及槽體的埋設方式等等，在實際安裝之前仔細的考量和計劃有助於確保它的有效性和持久性。</p>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">配置位置</h4>
                <ul class="text" start="2">
                  <li class="fw-bold"> 
                    <p class="fw-normal">
                      避免配置於 25 噸以上重車行走區域及橋墩 10 m以內之區域。 
                    </p>
                  </li>
                  <li class="fw-bold">
                    <p class="fw-normal">
                      避開喬木種植位置，並距樹心約 3 - 5 m 以上。 
                    </p>
                  </li>
                  <li class="fw-bold">
                    <p class="fw-normal">
                      不得配置於建築物基礎角隅 45° 的影響線內。若無法遠離建築物基礎，則需設置永久擋土牆或鋼板，以防止側面載重的影響。 
                    </p>
                  </li>
                  <li class="fw-bold">
                    <p class="fw-normal">
                      建議設計於地下水位之上。若必須置於地下水位以下，需另行檢討以防外水壓及浮力對地工合成材料和儲集框架結構體的損害。 
                    </p>
                  </li>
                  <li class="fw-bold">
                    <p class="fw-normal">
                      槽坑開挖範圍應從槽體範圍向外延伸70cm，以提供足夠的作業空間進行開挖、斜度設置和擋土工程。 
                    </p>
                  </li>
                </ul>
                <h4 class="title_m_3">埋設方式 </h4>
                <ol class="text" start="1">
                  <li class="fw-bold">
                    <span>槽底鋪設：</span>
                    <p class="fw-normal">
                      滲透型槽底需鋪設10~15cm三分清碎石；儲水型槽底需鋪設10~15cm 2000psi混凝土。兩種型式水平度均需保持在1 : 500以內。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>上方覆土：</span>
                    <p class="fw-normal">
                      覆土厚度應維持在0.6m至2m之間。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>槽底深度：</span>
                    <p class="fw-normal">
                      含覆土( 0.6m ~ 2m )時，最深可達4m深。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>進、出水設施：</span>
                    <p class="fw-normal">
                      應連接至不銹鋼檢視井，盡可能避免直接在槽體上開孔。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>入流端：</span>
                    <p class="fw-normal">
                      必須設置濾網、沉砂槽(池)等設施，以分離砂土、混雜物、垃圾等，防止其流入儲集框架結構。
                    </p>
                  </li>
                </ol>
              </div>
              <picture>
                <source srcset="/images/article10/article10_picture.avif" type="image/avif">
                <source srcset="/images/article10/article10_picture.webp" type="image/webp">
                <img class="img-fluid" src="/images/article10/article10_picture.png" alt="配圖_設計注意事項">
              </picture>
            </div>

            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article09_rainsave_material.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article11_rainsave_maintenance.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 9" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
