<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE 儲集框架_知識分享_為何使用 Rain SAVE 儲集框架?(抗壓強度探討)</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article02.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE 儲集框架_知識分享_為何使用 Rain SAVE 儲集框架?(抗壓強度探討)" />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_02.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-11422925387');
  </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">為何使用 Rain SAVE 儲集框架? (抗壓強度探討)</h1>
            <div class="row">
              <div class="col-sm-6">
                <p class="text">在工程上與民生上以塑膠容器為儲水方式行之多年，本篇章說明以類似塑膠製品為主的蓄水框架應用於工程上的廣泛產品差異，以及抗壓強度的不同。<br>裝置在地底下收集雨水、滯洪或再利用的系統有諸多好處，顯而易見的最大優勢為地上的空間可再次以多種用途使用，此蓄水框架之地表上方可以做為停車場、公園、步道、花台、廣場等各種開放式空間；於儲水框架內的水依型式選擇也可以做為幫助基地保水的緩慢滲透型式，用於補充地下水以及儲集再利用，提供植栽區噴灌、洗車用水、消防用水、沖廁所用水...等，廣泛使用這項產品對於都市的排水、分洪、延遲洪峰發生的時間有非常大的幫助。</p>
              </div>
              <div class="col-sm-6"><img src="" alt=""/><img src="" alt=""/></div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">主要探討項目</h4>
                <p class="text">儲集框架為世界上長年使用的安全可靠產品其廣泛應用於全球各項地下儲水工程，主要討論項目為：<br>1.抗壓強度 2.雨水流入速度(進水速度) 3.產品於亞洲地震帶上的適應性</p>
                <ol class="text">
                  <li class="fw-bold"> <span>抗壓強度(分為正向抗壓與側向抗壓)</span>
                    <p class="fw-normal">控制抗壓強度的強弱大致上為兩種因素控制：</p>
                    <ul class="in_article fw-normal">
                      <li class="just_red fw-normal">其一為本身產品的結構設計</li>
                      <li class="just_red fw-normal">其二為材質的添加劑配比</li>
                    </ul>
                    <p class="fw-normal">關於產品的結構設計，以施工完成後可載重25T為標準討論之，市面上做這種塑膠框架儲水依安裝方式區分主要有三種類型：</p>
                    <ol class="fw-normal roman">
                      <li>長短板組合型
                        <div class="row">
                          <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                            <picture>
                              <source srcset="/images/article02/board.avif" type="image/avif">
                              <img class="article_img" src="/images/article02/board.png" alt="長短版"/>
                            </picture>
                            <h6 class="img_subtitle mt-3">▲ 長短板組合型產品示意</h6>
                          </div>
                          <div class="col-md-6"> 
                            <p>正向抗壓(垂直抗壓)：<br>第一種長短版型有分等級，你只要依據其原廠說明減少短板組合間距，增加短板使用數量，選擇較為強壯型號的長短板，依施工剖面設計選擇高抗壓型式可達成載重25T的標準。<br>側向抗壓(水平抗壓)：<br>因其長短板型式在您選擇正向抗壓(垂直抗壓)時已經固定，故其側向抗壓(水平抗壓)與您選擇的型號標準有正向相關性。</p>
                          </div>
                        </div>
                      </li>
                      <li>框架組合型
                        <div class="row">
                          <div class="col-md-6 d-flex flex-column justify-content-center align-items-center">
                            <picture>
                              <source srcset="/images/article01/rainsave_in_ar.avif" type="image/avif" >
                              <img class="article_img" src="/images/article01/rainsave_in_ar.png" alt=""/>
                            </picture>
                            <h6 class="img_subtitle mt-3">▲ 框架組合型產品示意</h6>
                          </div>
                          <div class="col-md-6"> 
                            <p>正向抗壓(垂直抗壓)：<br>第二種框架組合型也有其等級區分，主要分為儲集框架主體與儲集框架側板組合而成，部分產品因其結構設計問題須使用相關配件才可以達到25T之抗壓功能。通常在型式上您可觀察其肋條粗細，支柱角粗細與支柱角數量了解其正向抗壓能力，依施工剖面設計選擇高抗壓型式可達成載重25T的標準。<br>側向抗壓(水平抗壓)：<br>水平抗壓與儲集框架側板之厚度與肋條分布有非常大的關係，您如果需要有高抗壓25T的承載需求，儲集框架的側板應選擇厚度較厚，而主體較重、較紮實的產品。   </p>
                          </div>
                        </div>
                      </li>
                      <li>巧克力磚類正反堆疊型
                        <div class="row">
                          <div class="col-md-6 d-flex flex-column justify-content-center align-items-center"> <img class="article_img" src="" alt=""/>
                            <h6 class="img_subtitle mt-3">▲ 巧克力磚類正反堆疊型產品示意</h6>
                          </div>
                          <div class="col-md-6"> 
                            <p>其結構部分為固定型式，因運輸關係都會設計成正反堆疊型，其抗壓強度也分很多種基本上您選擇較為強壯型號的產品也可以達成載重25T的目標。</p>
                          </div>
                        </div>
                      </li>
                    </ol><br/>
                    <p class="fw-normal">關於材質的添加劑配比：<br>台灣在世界上為塑膠材料大宗生產國家，此種儲集框架都是使用回收料，而回收料的好壞與產品品質相關；假使都選擇相同均質等級之回收料射出，那材質的抗壓與添加劑成分便有關係。原則上，現今普遍要增加抗壓強度會添加玻璃纖維(GF)，其比例越高則抗壓強度越強，但其脆度也會增加(容易脆化)。<br>以傳統的實驗室測試方式來說，抗壓強度要高其GF比例就要提高，但因其脆度上升所以不適合工程使用，因為在應用上來說，產品經組裝後埋於地底，力的來源為四面八方，非為實驗室單純正向抗壓。真正好的可抗壓系統必需要讓塑膠產品具有相對耐衝擊性，所以GF的添加也不能太多(雖然添加大約30%時在實驗室抗壓強度很高，但是不適合工程上應用可能會造成工安問題)。</p>
                    <p class="fw-normal just_red">※ 2.雨水流入速度(進水速度) 3.產品於亞洲地震帶上的適應性 - 留待下一篇章探討</p>
                  </li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">結論</h4>
                <p class="text">在結構上來說，各家產品的結構設計對於應付T-25承載基本上並無太大問題；而在添加劑的配比上，經過各項研究顯示添加10%~20%的GF時應用於工程上是非常有幫助的，但不應堅信於實驗室所開立出來的正向抗壓強度高低(因其力的來源太過單一)。真正可耐用的產品必須搭配其施工剖面、級配方式、打底方式等複層式工法解決。</p>
              </div>
            </div>
            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article01.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article03.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 1" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
