<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE 儲集框架_知識分享_使用Rain SAVE儲集框架有哪些優點？哪些缺點？</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE 儲集框架_知識分享_使用Rain SAVE儲集框架有哪些優點？哪些缺點？" />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">使用Rain SAVE儲集框架有哪些優點？哪些缺點？</h1>
            <div class="row">
              <p class="text">Rain SAVE儲集框架作為水資源管理以及環境保護的重要角色，由於其具備的優點近年來被廣泛使用，但其中也有不可忽視的缺點， 具體有哪些呢?</p>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">優點</h4>
                <ul class="text" start="2">
                  <li class="fw-bold">
                    <span>施工性佳：</span>
                    <p class="fw-normal">
                      相較於RC滯洪池，儲集框架的施工簡單且迅速，因其材料可重疊堆放，運輸效率高。安裝主體及側板時無需繁複的構件連接，施工過程穩定安全，透過小型機具並配合人力即可順利進行施工。
                    </p>
                  </li>
                  <li class="fw-bold"> 
                    <span>儲水率高：</span>
                    <p class="fw-normal">
                      RC工法因結構條件，儲水率介於60~70%，而儲集框架由於其結構設計空隙率高，儲水率高達90~95%，因此在儲集槽體積相同的情況下，儲集框架可儲存並運用的雨水量較多。  
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>承載力高：</span>
                    <p class="fw-normal">
                      由於儲集框架埋設於地下，其承載能力考量了覆土呆重和地面活重，因此能夠承受較大的負載。覆土厚度超過60公分時，可承載25噸車輛行駛。
                    </p>
                  </li>
                  <li class="fw-bold">
                    <span>具環保性：</span>
                    <p class="fw-normal">
                      儲集框架的主要材料為PP（聚丙烯），具有優良的耐衝擊性、耐化學性和耐高溫性，且可回收再生。與RC滯洪池相比，整體碳排放量減少近85%。長期使用並不會釋放出有害物質，對環境造成的影響較小。
                    </p>
                  </li>
                </ul>
                <div id="fourBenefits">
                  <button class="border-0" type="button" onclick="loadYT('#fourBenefits','axEIvJUsxkw')">
                    <div class="position-relative">
                      <picture>
                        <img class="w-100" src="https://img.youtube.com/vi/axEIvJUsxkw/maxresdefault.jpg" alt="四大優點">
                      </picture>
                      <img class="video_play_btn position-absolute top-50 start-50 translate-middle" src="/images/play_btn.png" alt="play button">
                    </div>
                  </button>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">缺點</h4>
                <p class="text">
                  <strong>維護較困難：</strong>為了避免槽體內的沉積物導致堵塞，需定期檢查並進行清潔和維護。當結構損壞時也需及時進行修復和更換。
                </p>
              </div>
            </div>
            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article04.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article06_five_benefits_for_the_environment.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 4" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
