<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE儲集框架是怎麼運作的？會經過哪些流程？ </title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE儲集框架是怎麼運作的？會經過哪些流程？ " />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css">
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">Rain SAVE儲集框架是怎麼運作的？會經過哪些流程？ </h1>
            <div class="row">
              <p class="fs-5 lh-lg">Rain SAVE儲集框架不僅能夠收集雨水，並且通過過濾和淨化，將其轉化為可再利用的資源，同時也可以為環境帶來好處，讓我們深入了解雨水積磚的運作流程。 </p>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>

            <div class="row">
              <div class="col-1 h3 text-center p-0">
                <i class="bi bi-1-circle text-primary bg-light z-1"></i>
                <div class="border-end border-primary border-2 p-0" style="height: 100%;width: 50%; top: -10px;"></div>
              </div>
              <div class="col fs-5 lh-lg">
                <strong class="text-primary">收集雨水：</strong>
                <p>
                  雨水落到地面時，可透過土壤吸收自然滲透至地下儲集槽中；此外，也可利用排水系統將屋頂積水或地表逕流引導至儲集槽中儲存。 
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 h3 text-center p-0">
                <i class="bi bi-2-circle text-primary bg-light z-1"></i>
                <div class="border-end border-primary border-2 p-0" style="height: 100%;width: 50%; top: -10px;"></div>
              </div>
              <div class="col fs-5 lh-lg">
                <strong class="text-primary">過濾和淨化：</strong>
                <p>
                  於入流端設置淨水設施，經由沉澱、過濾等流程，可以將雨水中的雜質和有害物質有效地去除，防止其流入儲集槽以確保水質的安全。 
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 h3 text-center p-0">
                <i class="bi bi-3-circle text-primary bg-light z-1"></i>
                <div class="border-end border-primary border-2 p-0" style="height: 100%; width: 50%; top: -10px;"></div>
              </div>
              <div class="col fs-5 lh-lg">
                <strong class="text-primary">雨水回收再利用：</strong>
                <p>
                  <strong>滲透型 - 基地保水：</strong>模仿大自然的方式，將雨水短暫存放於儲集槽中，再透過滲透的方式，回歸地下水或是緩慢排放回河川，促進水循環、改善生態環境。 
                </p>
                <p>
                  <strong>儲水型 - 儲存並利用：</strong>雨水被儲存在儲集槽中，可進一步被利用，作為中庭水池與植物澆灌的水源、民生用水等用途，有助於節約自來水資源，並減少對城市排水系統的負荷。 
                </p>
              </div>
            </div>
            <div class="row">
              <div class="col-1 h3 text-center p-0">
                <i class="bi bi-4-circle text-primary bg-light z-1"></i>
              </div>
              <div class="col fs-5 lh-lg">
                <strong class="text-primary">清潔維護：</strong>
                <p>
                  因結構安全且材料穩定，一般正常狀況下不必擔心結構損害的問題，但因砂土可能造成淤積，需定期進行檢查及清掃等維護管理工作，讓儲集框架可長期發揮功能。
                </p>
              </div>
            </div>

            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article06_five_benefits_for_the_environment.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article08_rainsave_suitable_places.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 6" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
