<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE 儲集框架是否容易淤積? 若淤積該如何清理?</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE 儲集框架能否成為海綿城市的一環？" />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">Rain SAVE 儲集框架能否成為海綿城市的一環？</h1>
            <div class="row">
              <p class="text">隨著城市化的加速，水災和水資源短缺問題日益嚴重。海綿城市理念的出現，使得越來越多的都市建設具有防洪和生態保護功能。那Rain SAVE儲集框架能否一起實踐呢？</p>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">海綿城市六大措施</h4>
                <p class="text">
                  海綿城市的目標是通過有效管理和利用降水，減少城市淹水、提高水資源利用效率，並促進生態環境的改善。為實現這一目標，海綿城市採取了六大措施：滲、滯、蓄、淨、用、排，以最大限度地減少城市開發對生態環境的影響。
                </p>

                <h4 class="title_m_3">Rain SAVE 儲集框架實踐流程</h4>
                <ul class="text" start="1">
                  <li class="fw-bold">
                    <p class="fw-normal">
                      <strong>滲透型：</strong>滲、淨、滯、排
                    </p>
                    <picture>
                      <source srcset="../../images/article13/infil.avif" type="image/avif">
                      <source srcset="../../images/article13/infil.webp" type="image/webp">
                      <img class="img-fluid" src="../../images/article13/infil.png" alt="滲透型">
                    </picture>
                  </li>
                  <li class="fw-bold mt-4">
                    <p class="fw-normal">
                      <strong>儲水型：</strong>滲、淨、蓄、用
                    </p>
                    <picture>
                      <source srcset="../../images/article13/save.avif" type="image/avif">
                      <source srcset="../../images/article13/save.webp" type="image/webp">
                      <img class="img-fluid" src="../../images/article13/save.png" alt="儲水型">
                    </picture>
                  </li>
                </ul>
              </div>
            </div>

            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article12_rainsave_dredging.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article14_urban_heat_island.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 12" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
