<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE 儲集框架_知識分享_為何使用 Rain SAVE 儲集框架?(進水速度與地震帶上的適應性探討)</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE 儲集框架_知識分享_為何使用 Rain SAVE 儲集框架?(進水速度與地震帶上的適應性探討)" />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">為何使用 Rain SAVE 儲集框架? (進水速度與地震帶上的適應性探討)</h1>
            <div class="row">
              <div class="col-sm-12">
                <p class="text">接續上一篇章的說明，本篇將探討關於	雨水流入速度(進水速度)和產品於亞洲地震帶上的適應性。</p>
              </div>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">主要探討項目</h4>
                <p class="text">儲集框架為世界上長年使用的安全可靠產品其廣泛應用於全球各項地下儲水工程，主要討論項目為：1.抗壓強度 2.雨水流入速度(進水速度) 3.產品於亞洲地震帶上的適應性</p>
                <ol class="text" start="2">
                  <li class="fw-bold"> <span>雨水流入速度(進水速度)       </span>
                    <p class="fw-normal">長短板型式及框架型式內的結構空間較大，比較不會有進水速度需考量的問題。而巧克力磚的內部結構空間則較為擠迫，真正在下大雨的時候水並不容易流入，流入後也不容易往下流，此為結構設計在進水效能考量上的缺陷。</p>
                  </li>
                  <li class="fw-bold"> <span>產品於亞洲地震帶上的適應性     </span>
                    <p class="fw-normal">長短板型式的產品為一組一組的安裝，各組塊之間並無連結，故若回填時夯實度不足、上方覆土壓力不夠時於地震發生之時對抗地底錯動與地下剪力較弱。<br>框架型式產品又分兩種型式，一種需要搭配相應插銷的剪力配件將框架與框架連接，另一種為一體成形式，不需要再另外搭配剪力插銷。原則上若有正確、確實的安裝，有配件與無配件的產品在對抗地底錯動與地下剪力都是很好的產品。<br>巧克力磚型式的產品，因其結構複雜並且連續，故其對抗剪力之能力也不錯，但因其沒有側向結構故回填時土讓會往儲集框架內側擠壓，相較之下使用效果比較沒有上述兩種型式來得好。</p>
                  </li>
                </ol>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">結論</h4>
                <p class="text">若考量雨水流速(進水速度)，長短板型式及框架型式因內部結構空間較大，是較理想的選擇；而若是考慮到產品於亞洲地震帶上的適應性，框架型式相較其他兩種形式來說，整體的結構複雜程度、產品設計的完整性都較為完善，比較能適應地震時產生之各種力量。</p>
              </div>
            </div>
            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article02.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article04.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 2" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
