<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE 儲集框架是否容易淤積? 若淤積該如何清理?</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article03.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE儲集框架如何維護？儲集框架的管理方式 " />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_03.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="../../style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  
    <!-- Google tag (gtag.js) -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
  
      gtag('config', 'AW-11422925387');
    </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">Rain SAVE 儲集框架是否容易淤積? 若淤積該如何清理?</h1>
            <div class="row">
              <p class="text">施作一槽儲集框架通常會搭配設置一座清潔檢視井（依案件需求有所不同），可透過檢視井大致查看儲集框架內部情況。若有淤積情況產生該怎麼處理呢？ </p>
              <div class="col-sm-12">
                <img src="" alt=""/>
                <img src="" alt=""/>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">清淤方式</h4>
                <div class="row text mt-4">
                  <div class="col-2">
                    <p class="fw-bold border rounded-3 border-primary text-center text-primary">清除槽底積砂</p>
                  </div>
                  <div class="col-10">
                    <p>以高壓水槍來進行內部清洗，也可視槽體內部的沉砂淤積狀況使用抽砂車來配合清潔。</p>
                  </div>
                </div>
                <div class="row text">
                  <div class="col-2">
                    <p class="fw-bold border rounded-3 border-primary text-center text-primary">槽內整體清淤</p>
                  </div>
                  <div class="col-10">
                    <p>將積存的水攪動後排出，使沉積物一同流出槽體。</p>
                  </div>
                </div>
                <div>
                  <p class="text">＊建議每3到5年清洗一次，或當槽底沉積物厚度超過2cm時進行清理。</p>
                </div>
                <h4 class="title_m_3">清淤步驟</h4>
                <ol class="text" start="1">
                  <li class="fw-bold">
                    <p class="fw-normal">
                      將儲水槽的水排至水位接近30cm，攪動剩餘水中的沉積物，使其隨著水一同排出槽體。如有無法排出的水，則使用幫浦抽取。 
                    </p>
                  </li>
                  <li class="fw-bold">
                    <p class="fw-normal">
                      向儲水槽內投入濃度為3ml/L的消毒劑或漂白水，以防止藻類或微生物的生長。  
                    </p>
                  </li>
                  <li class="fw-bold">
                    <p class="fw-normal">
                      等待三小時後，用清水沖洗儲水槽內壁，並將沖洗後的污水排出儲水槽。  
                    </p>
                  </li>
                </ol>
              </div>
            </div>

            <div class="row space_blank"></div>
            <div class="row space_blank"></div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="/pages/page-articles/article11_rainsave_maintenance.html">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article13_rainsave_sponge_city.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 11" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
