<!DOCTYPE html>
<html lang="zh-Hant-TW" >
<head>
  <!-- Google tag (gtag.js) --> 
  <script async src="https://www.googletagmanager.com/gtag/js?id=G-KDL2Z0JYQR"></script> 
  <script>
    window.dataLayer = window.dataLayer || [];   
    function gtag(){dataLayer.push(arguments);}   
    gtag('js', new Date());   
    gtag('config', 'G-KDL2Z0JYQR');
  </script>

  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Rain SAVE 儲集框架_知識分享_如何在儲集框架、混凝土水箱、PP(FRP)桶槽型水箱中做選擇?</title>
  <link rel="icon" href="/images/rainsave_bookmark.png">
  <meta name="description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。">
  <meta name="author" content="Rain Master">
  <meta property="og:url"   content="https://rainsave.com.tw/pages/page-articles/article01.html" />
  <meta property="og:type"  content="website" />
  <meta property="og:title" content="Rain SAVE 儲集框架_知識分享_如何在儲集框架、混凝土水箱、PP(FRP)桶槽型水箱中做選擇?" />
  <meta property="og:image" content="https://rainsave.com.tw/images/homepage/articleimg_01.jpg" />
  <meta property="og:description" content="Rain SAVE 儲集框架 為一種塑膠射出成型製品其廣泛運用於地下儲集雨水及滲透保水等基地保水之工程使用，我司所生產之儲集框架產品具有精度高、易於安裝、抗壓強度高、質量輕盈等特性。產品採100%均質一級回收塑料並添加各式耐衝擊、抗紫外線、抗凍融等助劑製成。" />
  <link rel='stylesheet' href='../../style/custom.min.css'>
  <link rel='stylesheet' href='https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css'>
  <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css'>
  <link rel="stylesheet" href="/style/style.css">
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>

  <!-- Google tag (gtag.js) -->
  <script async src="https://www.googletagmanager.com/gtag/js?id=AW-11422925387"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());

    gtag('config', 'AW-11422925387');
  </script>
</head>
<body>
  <my-header></my-header>
  <div class="container">
    <h1 class="title">Rain SAVE 知識分享</h1>
    <div class="row wholecontent d-flex flex-row-reverse">
      <div class="col-md-9">
        <div class="row">
          <div class="col-sm-12">
            <h1 class="title_home down">如何在儲集框架、混凝土水箱、PP(FRP)桶槽型水箱中做選擇?</h1>
            <div class="row p-2">
              <div class="col-sm-4">
                <picture>
                  <source srcset="/images/article01/rc.avif" type="image/avif">
                  <img class="rainsave_cf" src="/images/article01/rc.jpg" alt=""/>
                </picture>
                <h6 class="img_subtitle">▲ RC 鋼筋混凝土</h6>
              </div>
              <div class="col-sm-4">
                <picture>
                  <source srcset="/images/article01/rainsave_in_ar.avif" type="image/avif">
                  <img class="rainsave_cf" src="/images/article01/rainsave_in_ar.png" alt=""/>
                </picture>
                <h6 class="img_subtitle">▲ RAIN SAVE 儲集框架</h6>
              </div>
              <div class="col-sm-4">
                <picture>
                  <source srcset="/images/article01/bottle.avif" type="image/avif">
                  <img class="rainsave_cf" src="/images/article01/bottle.jpg" alt=""/>
                </picture>
                <h6 class="img_subtitle">▲ 桶槽型(FRP、PP或PE)</h6>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <table class="material_cfchart"> 
                  <tr>
                    <th colspan="4">地底儲水滲透功能之材料工法比較表</th>
                  </tr>
                  <tr>
                    <td class="cf_item">比較項目</td>
                    <td>RC鋼筋混凝土</td>
                    <td>正在旺 RAIN SAVE 儲集框架(雨水積磚)</td>
                    <td>桶槽型(FRP玻璃纖維或PP桶、PE桶)</td>
                  </tr>
                  <tr>
                    <td class="cf_item">材質</td>
                    <td>RC鋼筋混凝土(Reinforced Concrete)</td>
                    <td>PP聚丙烯 (Polypropylene)</td>
                    <td>FRP (Fiberglass Reniforced Plastic)<br>PP聚丙烯 (Polypropylene)<br>PE聚乙烯 (Polyethylene)</td>
                  </tr>
                  <tr>
                    <td class="cf_item">防震性</td>
                    <td>為剛性產品，容易因地底地震或地表震動造成裂縫導致儲存水外流</td>
                    <td>為樂高積木方式組合而成，耐震係數高，不易變形<i class="bi bi-star-fill"></i></td>
                    <td>FRP：容易因地震上下左右搖晃而破裂<br>PP、PE：材質延伸率高，只要厚度夠不易變形、破裂<i class="bi bi-star-fill"></i></td>
                  </tr>
                  <tr>
                    <td class="cf_item">結構特性</td>
                    <td>可依鋼筋號數及混凝土厚度調整其結構強度，槽體大時需加立柱<i class="bi bi-star-fill"></i></td>
                    <td>樂高積木方式組合而成，每M2由頂部延伸至底部具備20個柱狀結構，可平均分散應力，不論槽體大小組合方式都為相同方法 <i class="bi bi-star-fill"></i></td>
                    <td>固定式機台製作，槽體大小及結構強度有其限制性</td>
                  </tr>
                  <tr>
                    <td class="cf_item">安裝方式</td>
                    <td>大量勞力綁筋灌沙漿並需養護且較費時</td>
                    <td>採人力堆疊安裝，安裝簡單無須特殊技巧以及特殊工具</td>
                    <td>安裝非常迅速<i class="bi bi-star-fill"></i></td>
                  </tr>
                  <tr>
                    <td class="cf_item">後續維修</td>
                    <td>需至槽體內檢修裂縫並重新塗佈藥劑</td>
                    <td>可局部更新，小範圍補強</td>
                    <td>破裂處如果過大，必須更換整座槽桶</td>
                  </tr>
                  <tr>
                    <td class="cf_item">蓄水方式 </td>
                    <td>需塗佈多道強化防水劑及防鏽劑 </td>
                    <td>可採HDPE、PE、PVC、TPO防水層</td>
                    <td>為桶槽特性不需另外做防水<i class="bi bi-star-fill"></i></td>
                  </tr>
                  <tr>
                    <td class="cf_item">蓄水量 </td>
                    <td>約為所佔用整體體積之60~80%</td>
                    <td>約為所佔用整體體積之95%<i class="bi bi-star-fill"></i></td>
                    <td>約為所佔用整體體積85%</td>
                  </tr>
                  <tr>
                    <td class="cf_item">永續性 </td>
                    <td>永續性低，易破壞環境材質不可逆性</td>
                    <td>永續性高，產品可拆除後回收再生產人類所需的新產品<i class="bi bi-star-fill"></i></td>
                    <td>FRP:永續性低，回收過程汙染性高<br>PP、PE: 永續性高，產品可拆除後回收再生產人類所需的新產品<i class="bi bi-star-fill"></i></td>
                  </tr>
                  <tr>
                    <td class="cf_item">滲透性 </td>
                    <td>無任何滲透功能，全封閉式槽體易有孳生藻類或沼氣等問題產生</td>
                    <td>為全開方式或半封閉式的系統，可與外界空氣對流並可承接上方滲透之雨水<i class="bi bi-star-fill"></i></td>
                    <td>無任何滲透功能，全封閉式槽體易有孳生藻類或沼氣等問題產生</td>
                  </tr>
                  <tr>
                    <td class="cf_item">強度</td>
                    <td>高，可依鋼筋號數、混凝土磅數、厚度及加強立柱數量達到高抗壓<i class="bi bi-star-fill"></i></td>
                    <td>高，覆土50CM，上方依選擇施工工法可通行T25卡車<i class="bi bi-star-fill"></i></td>
                    <td>低，上方無法通行大型重車</td>
                  </tr>
                  <tr>
                    <td class="cf_item">環保性</td>
                    <td>回收成本高，土地一經灌漿即汙染並且難以回復為原狀</td>
                    <td>回收成本低，僅需拆除。回收後產品也可再製成其他產品<i class="bi bi-star-fill"></i></td>
                    <td>FRP:幾乎無法處理只能亂丟或燒掉或磨碎後混用於混凝土或塑膠內<br>PP、PE: 永續性高，回收後產品也可再製成其他產品<i class="bi bi-star-fill"></i></td>
                  </tr>
                  <tr>
                    <td class="cf_item">運送費用</td>
                    <td>高</td>
                    <td>低<i class="bi bi-star-fill"></i></td>
                    <td>高</td>
                  </tr>
                  <tr>
                    <td class="cf_item">安裝時間</td>
                    <td>1000M3約60日</td>
                    <td>1000M3，10位工程師約3日</td>
                    <td> </td>
                  </tr>
                </table>
                <p class="awareness mt-2">*本表為正在旺企業製作，用於幫助您思考並做決定。可於網路分享使用，不可於個人或團體於文書簡報檔內複製貼上使用。如須於文書簡報內使用可於資源下載處下載後使用。</p>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-12">
                <h4 class="title_m_3">綜合建議</h4>
                <ol class="text"> 
                  <li>如果需要做800立方以上大型滯洪池建議使用RC鋼筋混凝土型式，因其強度可調整所以滯洪池的型式及深度可以更自由選擇。</li>
                  <li>如果要做10立方~1000立方的滯洪儲水、滲透水設施建議使用<strong class="rainsave_name">正在旺所生產的RAIN SAVE 儲集框架產品</strong>，具備施工快速、無須配件，高永續性、均質強度、槽體不易滋生沼氣等優點。</li>
                  <li>如果您要做20立方以下的滯洪儲水設施建議使用PP或PE的儲存桶可更方便，更快速的安裝。</li>
                </ol>
              </div>
            </div>
            <div class="row space_blank"> </div>
            <div class="row">
              <div class="col-sm-12 d-flex justify-content-end"><a class="pagetab previous" href="">上一篇文章</a><a class="pagetab next" href="/pages/page-articles/article02.html">下一篇文章</a></div>
            </div>
            <div class="row space_blank"></div>
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <h5 class="left_title">了解更多</h5>
        <ul class="morecases">
          <template v-for="(item, index) in knowledge">
            <li v-if="index === 0" class="casestudy active no_br"> 
              <a class="active" v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum active">{{ item.intro }}</p>
              </a>
            </li>
            <li v-else class="casestudy"> 
              <a v-bind:href="item.case_href"><img class="navbar_casepic" v-bind:src="item.picture_src" alt=""/>{{ item.title }}
                <p class="navbar_sum">{{ item.intro }}</p>
              </a>
            </li>
          </template>
        </ul>
      </div>
    </div>
  </div>
<my-footer></my-footer>
<!-- partial -->
<script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js'></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>
<script  src="/script.js"></script>

</body>
</html>
